body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #3131e0,  #4fbaf8); 
    font-family: Arial, sans-serif
    
}

.container {
    width: 1000px;
    padding: 75px;
    /*background: linear-gradient(to bottom,#3e3c96, #5b4699);*/
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #d8d8ff;
    opacity: 0.5px;
}



#start-button {
    font-size: 5rem;
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}
#start-button:hover {
    background-color:  rgb(41, 150, 159);
}
#start-button:active {
    background-color:  rgb(41, 150, 159);
}

#weiter-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(41, 150, 159);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#weiter-btn:hover {
    background-color: rgb(23, 82, 87);
}

#restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#restart-btn:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;  
    
}

li {
    padding: 10px;
    background-color: #f0f0f0;
    margin: 5px 0;
    border-radius: 5px;
  
}

.hidden {
    display: none;
}

#header {
    display: flex;
    font-size: 2rem;
    margin-bottom: 20px;
    background-color: #d8d8ff;
    color: rgb(0, 0, 0);
    justify-content: space-around;
    border-radius: 3px;
}

.option-container {
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.option-container input[type="radio"] {
    margin-right: 10px;
    accent-color: #676767; /* Ändert Farbe in modernen Browsern */
    width: 20px;
    height: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background-color: #4d3de1;*/
    color: white;
    text-align: center;
    padding: 30px 0;   
    font-size: 35px;   
    z-index: 1000;
    /*box-shadow: 0 2px 5px rgba(0,0,0,0.3);*/

  }

  .options {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #e50b0b;

    border-radius: 5px;
}
